<!DOCTYPE html>
<html>
<head>
<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1">

<title>Rachel's WebRTC codelab</title>

<link rel="stylesheet" type="text/css" href="/style.css">
<script type="text/javascript" src="/javascript.js"></script>

</head>

<body>

<h1> Hello World! </h1>

<div class="buttons">
  <button id="startButton">Start</button>
  <button id="callButton">Call</button>
  <button id="hangupButton">Hang Up</button>
</div>

<div class="videos">
  <video id="localVideo" autoplay></video>
  <video id="remoteVideo" autoplay></video>
</div>


</body>

</html>
